{% extends 'shared/layout.html' %}

{% block maincontent %}

    <!-- Intro -->
    <div class="center">
        <h1>Below is a list of projects I have worked on:</h1>
        <p>Click and image or hyperlink to learn more.</p>
    </div>

    <hr>
    <!-- Calculator Project -->
    <div class="center">
        <a href="/calculator" id="projPics">
            <img src="static/calculator/images/calculator.png" alt="Calculator">
        </a>
    
        <h1>Web Based Calculator</h1>

        <p id="justify">This is an experimental calculator with a fun twist! <a href="/calculator" id="p_link">Click here to see and play!</a></p> 
    </div>
    <hr>

    <!-- Ending -->
    <div class="center">
        <h1>More coming soon!</h1>
    </div>


{% endblock %}